body {
    background-color: #DAE3E7;
}

.baner {
    background-color: white;
    margin-top: 70px;
    padding-bottom: 20px;
}

.about-me {
    background-color: white;
}

.project {
    background-color: white;
}

.place {
    background-color: white;
}

.latest-project {
    background-color: white;
}

.skills {
    background-color: white;
}

.education {
    background-color: white;
}

.page-footer {
    background-color: black;
}

h5 {
    font-weight: bold;
    color: #778492;
}

h2 {
    color: #545e69;
}

h1 {
    color: #49515a;
}

a {
    color: #3aaa64;
}

a:hover {
    color: #3aaa64;
    cursor: pointer;
}

span {
    color: #c2c5c7;
}

span #tag {
    background-color: #545e69;
}

.project {
    border-left-style: solid;
    border-left-color: #3aaa64;
}

.nav-item a:hover {
    border-bottom-style: solid;
    border-bottom-color: #3aaa64;
    border-bottom-width: 2px;
}

a.active {
    border-bottom-style: solid;
    border-bottom-color: #3aaa64;
    border-bottom-width: 2px;
}

.card{
    width: 20rem;
    margin-right: 5px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 650px) {

    .txttitle{
        text-align: center;
    }
    .card{
        width: 35rem;
        margin-right: 5px;
        margin-top: 5px;
    }

}